<a id="filters-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper" class="">
    <ul class="sidebar-nav">
        <a id="filters-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
        <li class="sidebar-brand">
            <a href="#"></a>
        </li>
        <li class="active">
            <a href="#">Home</a>
        </li>
    </ul>
</nav>

<div class="text-vertical-center">
    <h1>Astronomy Picture of the day</h1>
</div>
