<div class="container">
    <div class="row">
        <div class="col-md-4">
            <p>Each day a different image or photograph of our fascinating universe is featured, along with a brief explanation written by a professional astronomer.</p>
        </div>
        <div class="col-md-4">
            <div class="form">
                <div class="form-group">
                    <input type="text" id="apod-date" class="form-control" placeholder='pick a date..'/>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <a class="btn btn-success btn-block" href="#" id="apod-get">Get picture!</a>
        </div>
    </div>
</div>