<div class="row row-margin-bottom">
    <div class="col-md-12 no-padding lib-item" data-category="view">
        <div class="lib-panel">
            <div class="row box-shadow">
                <div class="col-md-6">
                    <img class="lib-img-show" src="<%= url %>">
                </div>
                <div class="col-md-6">
                    <div class="lib-row lib-header">
                        <%= title %>
                        <div class="lib-header-seperator"></div>
                    </div>
                    <div class="lib-row lib-desc">
                        <%= explanation %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>